.centro {
    text-align: center;
}

#nav-container{
    position: fixed;
    /*width: 150px;*/
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}


#nav-container.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}


#sidebarCollapse{



}

::-webkit-scrollbar
{
  width: 4px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(203, 46, 46, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(42, 170, 179, 0.5);
}
/*#sidebar .glyphicon {


}*/
